.button
{
-fx-background-color : #047FF8;
}
.button:hover
{
-fx-background-color : #0254A5 ;
}
.button:pressed
{
-fx-background-color : #57A9FA ;
}

.toggle-button
{
-fx-background-color : #047FF8;
}
.toggle-button:hover
{
-fx-background-color : #0254A5 ;
}
.toggle-button:selected
{
-fx-background-color : #57A9FA ;
}

// Its a trick we vanish radiobutton radio and dot
.radio-button > .radio {
    -fx-background-color: transparent;
     -fx-background-insets: 0;
     -fx-background-radius: 0px;
     -fx-padding: 0.0em; /* 4 8 4 8 */
}
.radio-button:selected > .radio > .dot {
  -fx-background-color: transparent;
}
.radio-button:hover
{
-fx-background-color : #0254A5 ;
}
.radio-button:selected {
   -fx-background-color: #57A9FA ;
}
.radio-button
{
-fx-background-color : #047FF8;
}










/* chart properties */

.chart {
    -fx-padding: 10px;
    -fx-background-color: transparent;
    -fx-legend-visible: false;
}
.chart-plot-background {
    -fx-background-color:transparent;
}

.chart-pie {
    -fx-border-color: derive(-fx-pie-color, 1%);
    -fx-border-width: 0px;
}